.logo{
    font-size: 40px!important;
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(25, 42, 86)!important;
}

.nav-link{
    font-size: 20px!important;

}

.nav-link:hover{
    color: rgb(25, 42, 86)!important;
}